/* header {
  width: 100%;
  padding: 30px 4% 10px;
  background-color: black;
  text-align: center; // こちらを追加
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

.body {
  position: relative;
  top: 200px;
}

.image_display {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content_image {
  text-align: center;
  width: 250px;
  height: 250px;
}

.loading_image {
  width: 100%;
  height: auto;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

#loading img {
  width: 100%;
  max-width: 441px; /* 画像のオリジナルの最大幅 */
  height: auto;
}

#loading_c img {
  width: 100%;
  max-width: 441px; /* 画像のオリジナルの最大幅 */
  height: auto;
}